<div class="box box-index">
    <%= render partial: "progress_updates/progress_update_content", locals: {progress_update: progress_update} %>
    <hr>
    <%= link_to "#{progress_update.comments.count} comments", project_progress_update_path(progress_update.project, progress_update) %>
</div>
