@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

@import "bootstrap";
$heading-font: Helvetica, sans-serif;
$body-font: Helvetica, sans-serif;
$background-color: #fafafa;
$border-color: #ccc;

body {
  font-family: $body-font;
  background: $background-color;
  margin: 0;
  padding: 0;
}

.navstyle {
  background: #ffffff;
  border-bottom: 1px solid $border-color;
}

.box {
  background: #ffffff;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  margin: 15px 0;

  h2 {
    margin: 0 0 10px;
    color: #666;
  }
}

h1 {
  font-size: 50px;
  margin-top: -10px;
}

h1, h2, h3, h4 {
  font-family: "Bree Serif"
}

h1 .btn, h2 .btn, h3 .btn {
  font-family: "Helvetica", sans-serif;
}

.about-user {
  margin-top: 15px;
}

.update-info {
  height: 45px;  
}

.update-info-text {
  line-height: 1.1;
  vertical-align: middle;
}

.avatar-xs {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar-small {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.avatar-medium {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.avatar-profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.stats-box {
  clear: both;
  padding: 10px 0 20px 0;
}

.collection-select .check-boxes label {
  margin: 0 15px 0 3px;
  color: #666;
}

.delete-link {
  color: red;
}

.stats {
  font-family: 'Bree Serif';
  text-align: center;
  color: rgb(102, 102, 102);
  line-height: 1;
  margin-top: 10px;
  span {
    display: block;
    font-size: 45px;
  }
}

.navbar-brand {
  font-family: 'Bree Serif';
  font-size: 30px;
  margin-top: -5px;
}

.box .footer {
  border-top: 1px solid rgb(226, 226, 226);
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  font-size: 14px;
}

.user-project {
  background: rgb(238, 238, 238);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


.flash {
  @extend .alert;
}

.error {
  @extend .alert-danger;
  margin-top: 20px;
}

.success {
  @extend .alert-success;
  margin-top: 20px;
}

.notice, .alert {
  @extend .alert-primary;
  margin-top: 20px;
}

.field_with_errors input, .field_with_errors textarea {
  @extend .is-invalid;
}

.delete-comment {
  background: #fafafa;
  padding: 2px;
  border-radius: 2px;
  float: right;
}

@media (min-width: 500px) {
  .avatar-profile {
    float: right;  
    margin: 0 0 10px 20px;
  }
}

@media (min-width: 576px) {
  .container-width {
      max-width: 90%;
  }
  .box {
    padding: 30px;
  }
  .avatar-small {
    width: 75px;
    height: 75px;
  }
}


@media (min-width: 700px) {
  .container-width {
      max-width: 80%;
  }
}

@media (min-width: 1000px) {
  .container-width {
      max-width: 800px;
  }
}
