@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

@import "bootstrap";
$heading-font: "Bree Serif", sans-serif;
$body-font: "Helvetica", sans-serif;
$background-color: #fafafa;
$border-color: #ccc;

body {
  font-family: $body-font;
  background: $background-color;
  margin: 0;
  padding: 0;
}

/* Site title */
.navbar-brand {
  font-family: $heading-font;
  font-size: 30px;
  margin-top: -5px;
}

/* Boxes */
.box {
  background: #ffffff;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  margin: 15px 0;
}
.box-index {
  margin-bottom: 20px;
}
.user-project {
  background: rgb(238, 238, 238);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Headings */
h1 {
  font-size: 50px;
  margin-top: -10px;
}
h1, h2, h3, h4 {
  font-family: $heading-font;
}

/* User avatars */
.avatar-xs {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.avatar-small {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.avatar-profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* User/project/update stats styling */
.stats-box {
  clear: both;
  padding: 10px 0 20px 0;
}
.stats {
  font-family: $heading-font;
  text-align: center;
  color: rgb(102, 102, 102);
  line-height: 1;
  margin-top: 10px;
  span {
    display: block;
    font-size: 45px;
  }
}

/* Forms */
.field_with_errors input, .field_with_errors textarea {
  @extend .is-invalid;
}
.collection-select .check-boxes label {
  margin: 0 15px 0 3px;
  color: #666;
}

/* Buttons next to headings */
h1 .btn, h2 .btn, h3 .btn {
  font-family: $body-font;
}

/* Progress Update show page */
.delete-comment {
  background: #fafafa;
  padding: 2px;
  border-radius: 2px;
  float: right;
}

/* User show page */
.about-user {
  margin-top: 15px;
}

/* Flash Messages */
.flash {
  @extend .alert;
}
.error {
  @extend .alert-danger;
  margin-top: 20px;
}
.success {
  @extend .alert-success;
  margin-top: 20px;
}
.notice, .alert {
  @extend .alert-primary;
  margin-top: 20px;
}

/* Media Queries */
@media (min-width: 500px) {
  .avatar-profile {
    float: right;  
    margin: 0 0 10px 20px;
  }
}

@media (min-width: 576px) {
  .container-width {
      max-width: 90%;
  }
  .box {
    padding: 30px;
  }
  .box-index {
    margin-bottom: 30px;
  }
  .avatar-small {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 700px) {
  .container-width {
      max-width: 80%;
  }
  .box-index {
    margin-bottom: 40px;
  }
}

@media (min-width: 1000px) {
  .container-width {
      max-width: 800px;
  }
}