@import "bootstrap";
$heading-font: Helvetica, sans-serif;
$body-font: Helvetica, sans-serif;
$background-color: #fafafa;
$border-color: #ccc;

body {
  font-family: $body-font;
  background: $background-color;
  margin: 0;
  padding: 0;
}

.navstyle {
  background: #ffffff;
  border-bottom: 1px solid $border-color;
}

.box {
  background: #ffffff;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  margin: 15px 0;

  h2 {
    margin: 0 0 10px;
    color: #666;
  }
}


.box-index {
  margin: 40px 0;
}  

.update-info {
  height: 45px;  
}

.update-info-text {
  line-height: 1.1;
  vertical-align: middle;
}

.avatar-small {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.avatar-medium {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.avatar-normal {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.collection-select .check-boxes label {
  margin: 0 15px 0 3px;
  color: #666;
}

.stats {
  text-align: center;
  color: #666;
  line-height: 1;
  margin-top: 10px;
  span {
    display: block;
    font-size: 50px;
    font-weight: bold;
  }
}

.box .footer {
  border-top: 1px solid rgb(226, 226, 226);
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  font-size: 14px;
}



.flash {
  @extend .alert;
}

.error {
  @extend .alert-danger;
  margin-top: 20px;
}

.success {
  @extend .alert-success;
  margin-top: 20px;
}

.notice, .alert {
  @extend .alert-primary;
  margin-top: 20px;
}

.field_with_errors input, .field_with_errors textarea {
  @extend .is-invalid;
}


@media (min-width: 576px) {
  .container-width {
      max-width: 540px;
  }
}


@media (min-width: 992px) {
  .container-width {
      max-width: 650px;
  }
}

@media (min-width: 1200px) {
  .container-width {
      max-width: 700px;
  }
}
