<div id="navbar"><h1>Writing Projects</h1>

  <ul>
    <li><a href="<%= new_user_session_path %>">Log In</a></li>
    <li><a href="<%= new_user_registration_path %>">Sign Up</a></li>
    <li><a href="<%= destroy_user_session_path %>">Logout</a></li>
  </ul>

</div>